# Python
pycache/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
.env

# OS
.DS_Store
Thumbs.db

# Maps and logs
output/

# Binary model
models/

# IDEs
.vscode/
.idea/

# Qodo AI
.qodo
